* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style-type: none;
}

h1 {
    @include headings($font-size: 32px, $font-weight: 700);
}

h2 {
    @include headings($font-size: 28px, $font-weight: 500);
}

h3 {
    @include headings($font-size: 24px, $font-weight: 500);
}

h4 {
    @include headings($font-size: 20px, $font-weight: 500);
}

h5 {
    @include headings($font-size: 18px, $font-weight: 400);
}

h6 {
    @include headings($font-size: 16px, $font-weight: 500);
}
