.page-table {
  font-size: 1.25rem;
  width: 100%;

  &__head {
    background-color: $table-header;
    font-weight: 600;
  }

  &__column:first-child {
    width: 35%;
    text-transform: capitalize;
  }

  &__column:nth-child(2) {
    text-align: left;
  }

  &__row,
  &__column {
    border-bottom: 2px solid $border;
    border-collapse: collapse;
    padding: 0.75rem 1rem;
    text-align: center;

    &--head {
      border: 0;
      padding: 1.2rem;
      text-align: center;
    }

    &--head:nth-child(2) {
      text-align: center;
    }
  }

  &__body-row {
    &:hover {
      background-color: $row-hover;
    }
  }

  &__edit-link {
    text-decoration: none;
    display: inline-block;
  }
}
