.user-header {
  background-color: $white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;

  &__wrapper {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0.71rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-size: 2rem;
    font-weight: 500;
    padding-right: 2rem;
  }

  &__name-link {
    &:hover {
      color: $red;
    }
  }

  &__page-nav {
    display: flex;
    align-items: center;
  }

  &__pages {
    display: flex;
    align-items: center;
  }

  &__page {
    padding: 0 1rem;

    &:last-of-type {
      padding-right: 0;
    }
  }

  &__link {
    text-transform: capitalize;

    &--active {
      color: $active-text;
    }

    &:active {
      color: $active-text;
    }

    &:hover {
      color: $red;
    }
  }
}
