$white: #fff;
$black: #000;
$red: #e44d56;
$green: #3cc470;
$btn-focus: #429645;
$border: #dddddd;
$table-header: #ffecc4;
$row-hover: #eeeeee;
$admin-header: #2b89e0;
$blue-hover: #0465be;
$admin-background: #f9f9fb;