* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
}

.header {
  background-color: #2b89e0;
  color: #f9f9fb;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
  padding: 0 2rem;
}

.header__wrapper {
  width: 100%;
  max-width: 84rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login-img {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
}

.header .fas, .header__name-link {
  color: #f9f9fb;
  text-decoration: none;
}

.header .fas:hover, .header__name-link:hover {
  color: #e44d56;
}

.header__admin-img {
  width: 3.5rem;
  height: 3.5rem;
}

.header__admin-login:first-of-type, .header__admin-login:nth-of-type(2) {
  padding: 0 0.5rem;
}

.header__name {
  font-size: 2rem;
  font-weight: 500;
}

.header__page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__page {
  padding: 1.5rem 4rem 0.5rem 0;
}

.header__page-link {
  text-decoration: none;
  color: #f9f9fb;
}

.header__page-link:after {
  content: "";
  display: block;
  margin-top: 0.5rem;
  width: 0;
  height: 0.2rem;
  background: #e44d56;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.header__page-link:hover:after {
  width: 100%;
}

.footer {
  background-color: #2b89e0;
  color: #f9f9fb;
  text-align: right;
  padding: 1.25rem 2rem;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.footer__wrapper {
  width: 100%;
  max-width: 84rem;
  margin: 0 auto;
}

.label {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.25rem;
}

.input {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 0.1rem;
  padding: 0.4rem 1rem;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.input--edit {
  width: 100%;
}

.input:hover {
  border: 2px solid #2b89e0;
}

.input:focus {
  border: 2px solid #2b89e0;
  outline: 0;
}

.error {
  display: block;
  color: #e44d56;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  bottom: 1rem;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.15rem;
  padding: 0.45rem 1rem 0.35rem;
  background-color: #2b89e0;
  color: #f9f9fb;
  cursor: pointer;
  -webkit-transition: background-color, -webkit-transform 0.4s;
  transition: background-color, -webkit-transform 0.4s;
  -o-transition: background-color, transform 0.4s;
  transition: background-color, transform 0.4s;
  transition: background-color, transform 0.4s, -webkit-transform 0.4s;
  outline: 0;
  border: 0;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  background-color: #0465be;
}

.btn--delete {
  background-color: #e44d56;
}

.btn--delete:hover, .btn--delete:focus {
  background-color: #c2313b;
}

.btn--update {
  background-color: #3ec171;
  margin-right: 0.5rem;
}

.btn--update:hover, .btn--update:focus {
  background-color: #309e5a;
}

.main {
  background-color: #f9f9fb;
  padding: 2rem;
  min-height: calc(100vh - 11.64rem);
}

.main__wrapper {
  width: 100%;
  max-width: 84rem;
  margin: 0 auto;
}

.main__title {
  font-size: 1.75rem;
  font-weight: 600;
  padding: 0 2rem 2rem 0;
}

.main__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__success {
  width: 100%;
  background-color: #3ec171;
  padding: 0.75rem 1.5rem;
  color: #f9f9fb;
  border-radius: 0.25rem;
  border: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  position: relative;
}

.main__success:hover {
  background-color: #309e5a;
}

.main__success:hover::before {
  position: absolute;
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  color: #f9f9fb;
  z-index: 1;
  top: 0.75rem;
  right: 1rem;
}

.page-table {
  font-size: 1.25rem;
  width: 100%;
}

.page-table__head {
  background-color: #ffecc4;
  font-weight: 600;
}

.page-table__column:first-child {
  width: 35%;
  text-transform: capitalize;
}

.page-table__column:nth-child(2) {
  text-align: left;
}

.page-table__row, .page-table__column {
  border-bottom: 2px solid #dddddd;
  border-collapse: collapse;
  padding: 0.75rem 1rem;
  text-align: center;
}

.page-table__row--head, .page-table__column--head {
  border: 0;
  padding: 1.2rem;
  text-align: center;
}

.page-table__row--head:nth-child(2), .page-table__column--head:nth-child(2) {
  text-align: center;
}

.page-table__body-row:hover {
  background-color: #eeeeee;
}

.page-table__edit-link {
  text-decoration: none;
  display: inline-block;
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f9fb;
}

.login {
  max-width: 34rem;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
          box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  margin: auto;
  padding: 3rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

.login__title {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.login__info {
  margin-bottom: 2rem;
}

.login__input-wrapper {
  position: relative;
}
/*# sourceMappingURL=main.css.map */